
ul {
  list-style: none;
}

body {
  background: #edeff0;
  padding: 50px 0 0;
  font-family: 'Rosario', sans-serif;
  font-size: 62.5%;
}

h1,
h2 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 8px;
  color: #384047;
  line-height: 1.7;
}

h2 {
  font-size: 1.8em;
}

p {
  color: #8d9aa5;
  font-size: 1.4em;
  line-height: 1.4;
}
.options {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.options input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
img {
  width: 30%;
}
.options:hover {
color: red;
}
.container {
  box-sizing: border-box;
  width: 90%;
  max-width: 1080px;
  background: white;
  padding: 30px 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

button {
  background: #a8aaab;
  padding: 15px;
  font-size: 1.4em;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

button:hover {
  background: #a72f31;
  border-color: #a72f31;
  -webkit-box-shadow: 0 2px 0 0 #623437;
  -moz-box-shadow: 0 2px 0 0 #623437;
  box-shadow: 0 2px 0 0 #623437;
}