html,
body,
div,
h1,
h2,
p,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

section {
  display: block;
}

body {
  background: #edeff0;
  padding: 50px 0 0;
  font-family: 'Rosario', sans-serif;
  font-size: 62.5%;
}

h1,
h2 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 8px;
  color: #384047;
  line-height: 1.7;
}

h2 {
  font-size: 1.8em;
}

p {
  color: #8d9aa5;
  font-size: 1.4em;
  margin-bottom: 15px;
  line-height: 1.4;
}
.options {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  width: 250px;
  height: 200px;
}
.options:hover {
color: red;
}
.container {
  box-sizing: border-box;
  width: 90%;
  max-width: 1080px;
  background: white;
  padding: 30px 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

button {
  background: #a8aaab;
  padding: 15px;
  font-size: 1.4em;
  color: white;
  border: none;
  border-radius: 10px;
  height: 45px;
}

button:hover {
  background: #a72f31;
  border-color: #a72f31;
  -webkit-box-shadow: 0 2px 0 0 #623437;
  -moz-box-shadow: 0 2px 0 0 #623437;
  box-shadow: 0 2px 0 0 #623437;
}